{% extends 'LibraryMainBundle::layout.html.twig' %}

{% block content %}
    <p>Gratulacje, pomyslnie oddano jedna z wypozyczonych ksiazek</p>
    <p><a href="{{ path('homepage') }}">Wroc na strone glowna</a></p>
{% endblock %}